/* Footer Styles */

.Footer { 
    width: 100%;
    background: var( --dBrown );
    text-align: center;
    padding: 50px 0;
}

.Footer .container .img-logo {
    width: 50px;
    height: 50px
}

.Footer .container .social-media {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    margin-top: 50px
}

.Footer .container .social-media .media-links {
    width: 40px;
    height: 40px;
    margin: 0px 10px;
    transition: transform 200ms cubic-bezier(0.25, 0.39, 0.39, 2.01), -webkit-transform 200ms cubic-bezier(0.25, 0.39, 0.39, 2.01);
    background: var( --bYel );
    border-radius: 50%;
}

.Footer .container .social-media .media-links:hover {
    transform: translateY(-10px);
}

.Footer h3 {
    font-size: 20px;
    color: var( --bYel );
    font-weight: 600;
    padding: 30px 0px
}

.Footer hr {
    width: 200px;
    height: 2px;
    border: 0;
    background: var( --bYel );
    margin: 0 auto
}

.Footer h5 { 
    color: var( --bYel );
    margin: 40px 0px 0px 0px;
}